.accordion-item .accordion-header p {
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #EB291E;
}